html {
        color: #A0A0A0;
        overflow:hidden;
      }

      body {
        color: #A0A0A0;
        font-family: arial, verdana, sans;
        overflow:hidden;
    
      }

      #bg-image {
        position:fixed;
        top:0;
        left:0;
				min-height:100%;
				min-width:1024px;
				width:100%;
				height:auto;
      }
/*source: http://css-tricks.com/perfect-full-page-background-image/ */
			@media screen and (max-width: 1024px) { /* Specific to this particular image */
			        #bg-image {
			                left: 50%;
			                margin-left: -512px;   /* 50% */
			        }
			}

      h1 {
        color:#85C7E7;
        font-family:'Helvetica','Arial',sans-serif !important;
        font-weight:normal;
        font-size:2em;
				text-align:left;
				margin-bottom:0;
      }

      #container {
        width: 100%;
        height: 100%;
        overflow-y:auto;
        overflow-x:hidden;
      }

      #content {
				position:absolute;
				bottom:22%;
				left:58%;
        margin-left: -167px;
        width: 333px;
        background: transparent url('images/content-bg.png') 0 0 repeat;
        padding: 20px 20px 1px 20px;
      }

      .hidden {
        display: none;
      }

      #headline {
        color: #FFF;
        font-weight: bold;
        width: 100%;
        text-align: left;
        margin: 0 0 20px;
 			}

      #description {
        text-align: left;
        margin-bottom: 5px;
      }


      .clear {
        clear: both;
      }
 