html {
        color: #A0A0A0;
        overflow:hidden;
      }

      body {
        color: #A0A0A0;
        font-family: 'Lato', arial, serif; /*Puritan Lato*/
        overflow:hidden;
    
      }

      #bg-image {
        position:fixed;
        top:0;
        left:0;
				min-height:100%;
				min-width:1024px;
				width:100%;
				height:auto;
      }
/*source: http://css-tricks.com/perfect-full-page-background-image/ */
			@media screen and (max-width: 1024px) { /* Specific to this particular image */
			        #bg-image {
			                left: 50%;
			                margin-left: -512px;   /* 50% */
			        }
			}

      h1 {
        color:#85C7E7;
        font-family:'Helvetica','Arial',sans-serif !important;
        font-weight:normal;
        font-size:1.5em;
				text-align:center;
				margin-bottom:0;
				margin-top:5px;
      }

      #container {
        width: 100%;
        height: 100%;
        overflow-y:auto;
        overflow-x:hidden;
      }

      #content {
				position:absolute;
				bottom:15%;
				left:0;
        width: 100%;
        background: transparent url('images/content-bg.png') 0 0 repeat-x;
        padding: 5px 20px 1px 20px;
				font-size:19px;
      }

			p {margin:0;padding:0;}

      .hidden {
        display: none;
      }

      #headline {
        color: #FFF;
        font-weight: normal;
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
 			}

      #description {
        text-align: left;
        margin-bottom: 5px;
      }

			#actionbox {
				margin-left:30%;
				background:#76C5EF;
				padding:5px 25px;
				-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;
				height:82px;
				width:382px;
				
			}
      .clear {
        clear: both;
      }
 